In [20]:
#Задание 1**

"""Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class"""

import pandas as pd

raiting=pd.read_csv('ratings.csv')
raiting.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [21]:
def class_movies(row):
    if row['rating']<=2.0:
        return 'низкий рейтинг'
    elif 2.0<row['rating']<=4.0:
        return 'средний рейтинг'
    else:
        return 'высокий рейтинг'

In [ ]:
raiting['class'] = raiting.apply(class_movies, axis=1)
raiting.head()

In [ ]:
#Задание 2

"""Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

1 'Центр': ['москва', 'тула', 'ярославль'],
2
3 'Северо-Запад': ['петербург', 'псков', 'мурманск'],
4
5 'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region."""

In [6]:
geo_data = {

'Центр':['москва', 'тула', 'ярославль'],

'Северо-Запад':['петербург', 'псков', 'мурманск'],

'Дальний Восток':['владивосток', 'сахалин', 'хабаровск'] 
}

In [7]:
towns=[]
for values in geo_data.values():
    for i in values:
        towns.append(i)
towns

['москва',
 'тула',
 'ярославль',
 'петербург',
 'псков',
 'мурманск',
 'владивосток',
 'сахалин',
 'хабаровск']

In [9]:
df=pd.read_csv('keywords.csv')
df.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [10]:
def region_in_keyword(row):
    data=row['keyword'].split(' ')
    i=0
    for word in data:
        if word in towns:
            for items in geo_data.items():
                if word in items[1]:
                    i+=1
                    return items[0]
    if i==0:
        return 'undefined'

In [11]:
df['region'] = df.apply(region_in_keyword, axis=1)
df.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined

In [13]:
df[(df['region']!='undefined')].head(15)

                                 keyword   shows          region
127                         авито москва  979292           Центр
370             авито ру санкт петербург  425134    Северо-Запад
849                      авито ярославль  209581           Центр
1063                 фарпост владивосток  176951  Дальний Восток
1236                банк санкт петербург  174375    Северо-Запад
1259                              москва  153050           Центр
1346                     санкт петербург  144232    Северо-Запад
1396                     гисметео москва  140279           Центр
1482                    госуслуги москва  133061           Центр
1579                          авито тула  126168           Центр
1682                       погода москва  151701           Центр
2153                         авито псков   98931    Северо-Запад
2175                      дром хабаровск   98361  Дальний Восток
2398                      авито мурманск   89787    Северо-Запад
2550  банк санкт петербург интернет банк   89123    Северо-Запад